body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #494747;
}

header {
    background-color: #333;
    color: #da3f3f;
    padding: 20px;
    text-align: center;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #fff;
}

nav a:hover {
    background-color: #333;
    color: #fff;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.project h3 {
    margin-top: 0;
}

.project p {
    margin-bottom: 0;
}
